<configuration debug="true" scan="false" scanPeriod="1 minutes">
    <jmxConfigurator />

    <springProperty scope="context" name="serverName" source="HOSTNAME" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %X{request-id} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log to file if we can find out which file to log to; set log level for this as well. -->
    <if condition='isDefined("NB_LOG_FILE")'>
        <then>
            <!-- A daily rolling file appender -->
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!--  <file>${NB_LOG_FILE}</file> -->
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${NB_LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
                    <maxHistory>3000</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%date [${serverName:-${HOSTNAME}}] %X{request-id} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <!-- An asynchronous wrapper for the file appender -->
            <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
                <appender-ref ref="FILE" />
                <queueSize>1024</queueSize>
            </appender>
            <logger name="notification.log" level="INFO" additivity="false">
                <appender-ref ref="ASYNC_FILE"/>
            </logger>

            <!-- Set ROOT_APPPENDER so we start appending logs to file. -->
            <property name="ROOT_APPENDER" value="ASYNC_FILE"/>
        </then>
    </if>

    <!-- Configure log level here -->
    <logger name="in.syncfusion" level="${NB_LOG_LEVEL:-INFO}"/>
    <logger name="com.syncfusion" level="${NB_LOG_LEVEL:-INFO}" />
    <logger name="org.apache.zookeeper" level="WARN" />
    <logger name="org.apache.kafka" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.eclipse.jetty.server" level="${NB_LOG_LEVEL:-INFO}"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.social" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="org.hibernate.engine.jdbc.internal" level="ERROR"/>
    <logger name="net.sf.ehcache" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="${ROOT_APPENDER:-STDOUT}"/>
    </root>

    <!-- Access logging -->

    <logger name="access.log" level="${NB_LOG_LEVEL:-ERROR}"/>

    <if condition='isDefined("NB_ACCESS_LOG_FILE")'>
        <then>
            <!-- A daily rolling file appender -->
            <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!-- <file>${NB_ACCESS_LOG_FILE}</file> -->
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${NB_ACCESS_LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
                    <maxHistory>3000</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%msg [${serverName:-${HOSTNAME}}] %X{request-id} [%thread] %-5level%n</pattern>
                </encoder>
            </appender>

            <!-- An asynchronous wrapper for the file appender -->
            <appender name="ACCESS_LOG_ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
                <appender-ref ref="ACCESS_LOG_FILE" />
                <queueSize>1024</queueSize>
            </appender>

            <logger name="access.log" level="INFO" additivity="false">
                <appender-ref ref="ACCESS_LOG_ASYNC_FILE"/>
            </logger>
        </then>
    </if>
</configuration>